.PlayList{
  border: 2px solid var(--bg-primary);
}
.PlayList .PlayListHeader{
  background-color: var(--bg-primary);
}
.PlayList .PlayListHeader a{
  color: black !important;
}
.PlayList .PlayListHeader *{
  color: white !important;
}
.PlayList .PlayListContent{
  height: calc(100vh - 240px);
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}