.upload-zone{
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #efefef;
}

.upload-zone.dragging{
    background-color: rgb(160, 193, 255, 0.2);
}